@import url("https://fonts.googleapis.com/css2?family=Beau+Rivage&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62%;
}
body {
  font-size: 2rem;
  font-family: "Beau Rivage", cursive;
  background-color: black;
  color: white;
}
.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 1.5rem;
  text-align: center;
}
.search_result {
  display: block;
  margin: 10rem 0 2.5rem;
  font-family: "Courier New", Courier, monospace;
}
input[type="text"] {
  width: 100%;
  padding: 0.8rem 0.5rem;
  background-color: #0d0c1d;
  color: #f8f4f9;
  border: none;
  outline: 2px solid rgb(163, 11, 163);
}
.searchbar {
  max-width: 50rem;
  margin-bottom: 5rem;
}
.search_result {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  text-align: left;
}
.search_result_item {
  background-color: #151630;
  padding: 1rem;
  border-radius: 0.6rem;
}
.search_item{
    display: block;
    /* margin-bottom: 0.3rem; */
}